; Installs the exact version instead of using the npm's default semver range operator.
--save-exact
; If a package cannot be installed because of overly strict peerDependencies that collide, it provides a way to move forward resolving the situation.
--legacy-peer-deps